a {
  text-decoration: none;
  color: dodgerblue;
}

.profile-data {
  width: 90vw;
  margin: 0 auto;
}

.profile-data,
.list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.data {
  width: 48%;
}

.list {
  list-style: none;
  border-radius: 3px;
  border: 1px solid #d8d2d2;
  padding: 0;
}

.list-item {
  padding: 15px;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #d8d2d2;
}
