.nav-link {
  text-decoration: none;
  padding: 0 0 0 15px;
  color: #07f;
}

.active {
  text-decoration: underline;
}

.nav-links {
  list-style: none;
}

.brand-logo > span {
  font-weight: 600;
  font-size: 2rem;
  padding-left: 20px;
}

header,
.brand-logo,
.nav-links {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #b8b3b3;
  margin: 0 auto 15px;
  width: 95vw;
}
